In [55]:
%run PowerBIDataConnector.ipynb
from IPython.display import display

output successfully

In [56]:
dmc = DataModelCollector(dataset_id='39d72aa7-5e35-4dd1-bd28-9f5903a75881',
                         login='sebastien.hsu@esprit.com',
                         password='Sebtimes11'
                         )

In [57]:
dmc.create_connection()

In [58]:
dmc.get_all_tables()
print(dmc.df_table)

                                           table_name
0                                           Attribute
1                                     BDSM_DataSource
2                                       Country Group
3                                  Currency Selection
4   DateTableTemplate_b04161d0-3817-4767-8a16-6674...
5                                     IRP Month Index
6   LocalDateTable_0e19d2da-39f8-4fe5-bda5-51214ea...
7   LocalDateTable_3183e0a4-20be-4d65-80e1-60d6e5b...
8   LocalDateTable_6597ef8b-3643-45bb-ba65-a5cde9e...
9   LocalDateTable_96ed7102-e99d-4927-9ab1-96bbd07...
10  LocalDateTable_b3b28aa7-f84a-48d1-a627-5d2c1cb...
11  LocalDateTable_ff4c231f-e90f-4118-bf76-6a610ec...
12                                      PO and Vendor
13                                             Sort 1

In [59]:
#dmc.get_data_from_table(table_name='Calendar')  
## Need to change here also???
#print(dmc.df)

In [60]:

query_str = '''

DEFINE
	VAR __DS0Core = 
		SUMMARIZECOLUMNS(
			'BDSM_DataSource'[SSN],
			'BDSM_DataSource'[Style_Code],
			'BDSM_DataSource'[Prod_Cluster_Name],
			'BDSM_DataSource'[IRPCalY],
			'BDSM_DataSource'[Prod_Gender],
			'Country Group'[Country Group],
			'BDSM_DataSource'[CustomerDestination],
			"SumEES_PUR_PCS", CALCULATE(SUM('BDSM_DataSource'[EES_PUR_PCS]))
		)

	VAR __DS0PrimaryWindowed = 
		TOPN(
			501,
			__DS0Core,
			'BDSM_DataSource'[SSN],
			1,
			'BDSM_DataSource'[Style_Code],
			1,
			'BDSM_DataSource'[Prod_Cluster_Name],
			1,
			'BDSM_DataSource'[IRPCalY],
			1,
			'BDSM_DataSource'[Prod_Gender],
			1,
			'Country Group'[Country Group],
			1,
			'BDSM_DataSource'[CustomerDestination],
			1
		)

EVALUATE
	__DS0PrimaryWindowed
ORDER BY
	'BDSM_DataSource'[SSN],
	'BDSM_DataSource'[Style_Code],
	'BDSM_DataSource'[Prod_Cluster_Name],
	'BDSM_DataSource'[IRPCalY],
	'BDSM_DataSource'[Prod_Gender],
	'Country Group'[Country Group],
	'BDSM_DataSource'[CustomerDestination]
          
'''

In [62]:
dmc.get_data_with_custom_str(query_str=query_str)
pd.options.display.max_columns = None
display(dmc.df)
#print(dmc.df)

,bdsm_datasource[ssn],bdsm_datasource[style_code],bdsm_datasource[prod_cluster_name],bdsm_datasource[irpcaly],bdsm_datasource[prod_gender],country group[country group],bdsm_datasource[customerdestination],[sumees_pur_pcs]
0,010,010EE2N301,Mixed Sets,FY2022,Men,Bangladesh,EU,5306
1,010,010EE2N301,Mixed Sets,FY2023,Men,Bangladesh,EU,9657
2,010,010EE2N308,Mixed Sets,FY2022,Men,Bangladesh,EU,2325
3,010,010EE2N315,Mixed Sets,FY2022,Men,Bangladesh,EU,1311
4,010,010EE2N315,Mixed Sets,FY2023,Men,Bangladesh,EU,1955
...,...,...,...,...,...,...,...,...
496,013,013EA2O302,Bags,FY2023,ACC,China,KR,60
497,013,013EE1B301,Pants knitted,FY2023,Women,Bangladesh,EU,925
498,013,013EE1B306,Pants denim,FY2023,Women,Turkey,EU,2899
499,013,013EE1B307,Pants denim,FY2023,Women,Bangladesh,EU,8281
500,013,013EE1B307,Pants denim,FY2023,Women,Bangladesh,HK,101

In [54]:
dmc.df.to_excel('testing_sample.xlsx')
dmc.close_connection()